/********************Header*********************/

.main
{
  width: 1200px;
  border: 2px solid #F55A5A;
}

header
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #F55A5A;
  justify-content: center;
  width: 1200px;
  border: 2px solid white;
  justify-self: center;
  height: 55px;
}

header > img
{
  padding-top: 5px;
  width: 30px;
  height: 30px;
}

header > h2
{
  color: white;
  align-self: end;
}
/***********************************************/
/*********************Entry********************/
.EntryCont
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.EntryCont > .elemCont
{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.EntryCont > .elemCont > .topLine
{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.EntryCont > .elemCont > .topLine > .elemImg
{
  width: 30px;
  height: 30px;
  padding-top: 10px;
}

/**.EntryCont > .elemCont > .topLine > .elemName
{
  
}**/

.EntryCont > .elemCont > .topLine > a
{
  padding-top: 25px;
  color: #918E9B;
  text-align: center;
}

.EntryCont > .elemCont > .elemDesc
{
  line-height: 1.5;
  font-size: 1rem;
}

hr
{
  width: 95%;
  color: #F5F5F5;
}
/**********************************************/
